<div class="modal-body">
    <div class="pagetitle">
        <h1>Detalle perfil</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Detalle perfil</li>
            </ol>
        </nav>
    </div>

    <section class="section profile formsWTitle">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body card-w-title pt-3">
                        <form class="row g-3" autocomplete="off" [formGroup]="formMoficacionPerfil">
                            <div class="col-lg-4 col-md-6">
                                <label for="nombre" class="form-label required">Nombre:</label>
                                <input formControlName="nombre" type="text" class="form-control"
                                    id="nombre" placeholder="Nombre" (keypress)="soloLetras($event)">
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <label for="aPaterno" class="form-label required">Apellido paterno:</label>
                                <input formControlName="aPaterno" type="text" class="form-control"
                                    id="aPaterno" placeholder="Apellido paterno" (keypress)="soloLetras($event)">
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <label for="aMaterno" class="form-label required">Apellido materno:</label>
                                <input formControlName="aMaterno" type="text" class="form-control"
                                    id="aMaterno" placeholder="Apellido materno" (keypress)="soloLetras($event)">
                            </div>

                            <div class="col-lg-12 col-md-6">
                                <label for="correo" class="form-label required">Correo:</label>
                                <input formControlName="correo" type="email" class="form-control" id="correo"
                                    placeholder="Correo" (keypress)="soloTexto($event)">
                            </div>

                            <div *ngIf="pkUsuario == 0" class="col-md-12 d-flex justify-content-center">
                                <div class="form-check form-switch">
                                    <input formControlName="cambioContraseniaPerfil" class="form-check-input"
                                        type="checkbox" id="cambioContraseniaPerfil"
                                        (change)="cambioContraseniaPerfil()">
                                    <label class="form-check-label" for="cambioContraseniaPerfil">Cambio de
                                        contraseña</label>
                                </div>
                            </div>

                            <section *ngIf="inputContrasenia" class="row" style="margin-top: 10px !important;">
                                <div class="col-lg-4">
                                    <label for="contraseniaAntigua" class="form-label">Contraseña actual <b
                                            style="color: brown;">*</b>:</label>
                                    <input formControlName="contraseniaAntigua" type="password" class="form-control"
                                        id="contraseniaAntigua" placeholder="Contraseña Actual"
                                        (keypress)="soloTexto($event)" maxlength="255">
                                </div>
                                <div class="col-lg-4">
                                    <label for="contraseniaNueva" class="form-label">Contraseña nueva<b
                                            style="color: brown;">*</b>:</label>
                                    <input formControlName="contraseniaNueva" type="password" class="form-control"
                                        id="contraseniaNueva" placeholder="Contraseña Nueva" (keypress)="soloTexto($event)"
                                        maxlength="255">
                                </div>
                                <div class="col-lg-4">
                                    <label for="confContraseniaNueva" class="form-label">Confirmar contraseña<b
                                            style="color: brown;">*</b>:</label>
                                    <input formControlName="confContraseniaNueva" type="password" class="form-control"
                                        id="confContraseniaNueva" placeholder="Confirmar Contraseña Nueva"
                                        (keypress)="soloTexto($event)" maxlength="255">
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal-footer" style="text-align: center;">
    <button type="button" class="btn btn-primary" (click)="modificarPerfil()">Actualizar</button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
        (click)="cerrarModal()">Cerrar</button>
</div>