<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="['/']">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-heading">Administración</li>

        <li class="nav-item" [routerLink]="['orden']">
            <a class="nav-link collapsed">
                <i class="bi bi-ear"></i>
                <span>Generar orden</span>
            </a>
        </li>

        <li class="nav-item" [routerLink]="['consulta-ordenes']">
            <a class="nav-link collapsed">
                <i class="bi bi-tools"></i>
                <span>Ordenes de servicio</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed">
                <i class="bi bi-truck"></i>
                <span>Entregar equipo(s)</span>
            </a>
        </li>
    </ul>
</aside>